@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .div-1 {background-color: #EBEBEB;
            align-items: center;}
    .div-2 {background-color: #ABBAEA;
            align-items: center;}
    .div-3 {background-color: #5C91A1;
            align-items: center;
            color: white;}
</style>
<div class="div-3" align="center">
    <h1 class="display-4"><span class="bolded">Welcome</span></h1>
    <h3>Final Project</h3>
    <p>Disha Saran, Garima Gulati and Antonio Moyano</p>
    <img src="https://www.venafi.com/sites/default/files/styles/823x390/public/content/blog/2020-12/Difference%20B%3AT%20Encryption%20%26%20Decryption.jpg?itok=yE_QC6vz" alt="Antonio">
</div>
<div class="div-3">
          
</div>
