@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our first project made by Disha Saran, Garima Gulati and Antonio Moyano.</p>
</div>
